@font-face{
    font-family: "Glacial-Indifference";
    src: url("Fonts/glacial-indifference.regular.otf");
}

h1{
    font-family: "Glacial-Indifference";
}

h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
    margin:auto;
}
p, ol, section{
    font-size: 30px;
}

header{
    text-align: center;
    background-color:cadetblue;
    border: 10px solid black;
    border-bottom: 10px solid cadetblue;
    min-width: 734px;
    font-size: 40px;
}

main{
    background-color:cadetblue;
    border: 10px solid black;
}    

#ingame{
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 4px 14px;
    transition-duration: 0.4s;
    color: red;
    background-color: lightgray;
}

#Documentation{
    font-family: "Glacial-Indifference";
}

#content{
    font-family: "Glacial-Indifference";
}

footer{
    font-family: "Glacial-Indifference";
}

button:hover{
    background-color: red;
    color: white;
}

#gameControls{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1c1c1c;
    color: white;
}

#input{
    text-align: center;
}

.sliders{
    font-size: 20px;
}

.slider{
    width: 90%;
    
}

#info{
    display: flex;
    flex-wrap: nowrap;
    background-color: ivory;
    border-bottom: 10px solid black;
    margin-top: -5px;
}

#content{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2vw;
}

#gameInfo{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 47%;
    height: 47%;
    font-size: 30px;
}

footer {
    text-align: center;
    background-color:cadetblue;
    border: 10px solid black;
    border-top: 10px solid cadetblue;    
}

#Documentation{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}